<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EAZZY LAUNDRY||BUSINESS SERVICES||</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <!-- <a class="text-white px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="/Homepage" class="navbar-brand">
                    <div class="image_logo">
                        <img src="/img/New Logo 3.svg" alt="" class="eazzy_logo" style="height: 70px;">
                    </div>

                    <!-- <h1 class="m-0 text-secondary"><span class="text-primary">Eazzy</span>Laundry</h1> -->
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/Homepage" class="nav-item nav-link">HOME</a>
                        <a href="/service" class="nav-item nav-link">SERVICES</a>
                        <a href="/pricing" class="nav-item nav-link">PRICING</a>
                        <a href="/sign" class="nav-item nav-link">BOOK NOW</a>
                        <a href="/order" class="nav-item nav-link active">REQUEST PICKUP</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="page-header container-fluid bg-secondary pt-2 pt-lg-5 pb-2 mb-5">
        <div class="container py-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-white">PLATINUM PACKAGE
                        
                    </h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <!-- <a class="btn text-white" href="">Home</a>
                        <i class="fas fa-angle-right text-white"></i>
                        <a class="btn text-white disabled" href="">Request</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Order -->
    <div class="col-md-12 order-form" style="padding-left: 200px; padding-right: 200px;">
        <div class="contact-form col-md-12">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="mt-4 mb-md-0 text-black">PLATINUM[₦ 13,500]</h2>
            </div>
            <div id="success"></div>

            <!-- <div class="alert">Your message has been sent</div> -->

            <form name="sentMessage" id="orderForm" onSubmit="event.preventDefault()" novalidate="novalidate" method="post" action="">
                <script src="https://js.paystack.co/v1/inline.js"></script>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="control-group">
                            <input type="text" class="form-control" name="Name" id="First-Name" placeholder="First-Name"
                                required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="control-group">
                            <input type="text" class="form-control" name="Name" id="Last-Name" placeholder="Last-Name"
                                required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="control-group">
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="Email"
                                required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <div class="control-group">
                            <input type="date" id="Date" class="form-control" name="Date" value="2018-07-22" min=""
                                max="" style="width:100%">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="control-group">
                            <input type="text" class="form-control" name="Time" id="Time" placeholder="Time"
                                required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="control-group">
                            <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Phone"
                                required="required" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                </div>
                <div class="control-group">
                    <input type="text" class="form-control" name="Address" id="Address" placeholder="Address"
                        required="required" />
                    <p class="help-block text-danger"></p>
                </div>
                <!-- <div class="control-group">
                    <textarea class="form-control" name="LaundryOrder" rows="6" id="LaundryOrder" placeholder="Laundry Order"
                        required="required"></textarea>
                    <p class="help-block text-danger"></p>
                </div> -->
                <!-- <div>
                    <button name="sub" type="button" onclick="payWithPaystack()"> Proceed </button> 

                    <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Proceed to payment</button>
                    <a href='https://paystack.com/pay/vqwvf96ifz'><button>Link To freeCodeCamp</button></a>

                </div> -->
                <!-- <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
                <script src="../orders.js"></script> -->
                <a href='https://paystack.com/pay/vqwvf96ifz'><button>pay</button></a>

               

            </form>
        </div>
        <form action="http://google.com">
            <input type="submit" value="Go to Google" />
        </form>
    </div>

    <!-- Order -->


    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-white mt-5 pt-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="/Homepage">
                    <img src="/img/New Logo 4.svg" alt="" class="eazzy_logo" style="height: 70px;">
                </a>
                <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sit no, sed kasd
                    et ipsum dolor duo dolor</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Get In Touch</h4>
                <p>Dolor clita stet nonumy clita diam vero, et et ipsum diam labore</p>
                <p><i class="fa fa-map-marker-alt mr-2"></i>1b, Ahmad Tijani Otton Street, Off Victoria Arobieke Street,
                    Lekki Phase 1, Lagos.</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>eazzylaundry@compugeen.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="/Homepage"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="/service"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white mb-2" href="/pricing"><i class="fa fa-angle-right mr-2"></i>Pricing</a>
                    <a class="text-white" href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Newsletter</h4>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control border-0" placeholder="Your Name" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-0" placeholder="Your Email"
                            required="required" />
                    </div>
                    <div>
                        <button class="btn btn-lg btn-secondary btn-block border-0" type="submit">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white py-4 px-sm-3 px-md-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-medium" href="/Homepage">EAZZY LAUNDRY</a>. All Rights Reserved.
            Designed by
            <a class="text-white font-weight-medium" href="">COMPUGEEN</a>
        </p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

           
          <script>
            function payWithPaystack(){
              var handler = PaystackPop.setup({
                key: 'pk_test_fae8dcf79d806de4d22a87c8442ae7a20577b9d0',
                email: 'customer@email.com',
                amount: 1350000,
                currency: "NGN",
                ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                metadata: {
                   custom_fields: [
                      {
                          display_name: "Mobile Number",
                          variable_name: "mobile_number",
                          value: "+2348012345678"
                      }
                   ]
                },
                callback: function(response){
                    alert('success. transaction ref is ' + response.reference);
                },
                onClose: function(){
                    alert('window closed');
                }
              });
              handler.openIframe();
            }
          </script>  
</body>

</html>